.body{
    max-width: 375px;
    width: 100%;
    margin: 0px auto;
    background-color: rgb(255, 255, 255);
    padding-bottom: 65px;
    border: 1px solid grey;
}

.header-container{
    padding: 20px 40px;
    border-bottom: 1px solid grey;
}

.header-container h3{
    font-size: 12px;
    padding-bottom: 12px;
}

.header-container h2{
    font-size: 18px;
}

.header-sub2{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-sub2 input{
    font-size: 18px;
    width: 100px;
}

.card-container{
    padding: 20px 40px;
}

