.body{
    max-width: 375px;
    width: 100%;
    margin: 0px auto;
    background-color: rgb(255, 255, 255);
    padding-bottom: 65px;
    border: 1px solid grey;
}

.header-container{
    padding: 20px 40px;
    border-bottom: 1px solid grey;
}

.header-container h3{
    font-size: 12px;
    padding-bottom: 12px;
}

.header-container h2{
    font-size: 18px;
}

.header-sub2{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-sub2 input{
    font-size: 18px;
    width: 100px;
}

.card-container{
    padding: 20px 40px;
}

.addBtn-container{
    display: flex;
    width: 100%;
    padding: 10px;
}
.addBtn-container:hover{
    cursor: pointer;
}
.option-container{
    display: flex;
    border: 1px solid grey;
    border-radius: 5px;
    justify-content: space-between;
}

.select-container{
    padding: 10px;
}

.select-container select{ 
    width: 200px;
    border: none;
}

.select-container select:hover{ 
    cursor: pointer;
}

.submit-container{
    padding: 10px;
}

.submit-container button{
    border: none;
    background-color: #fff;
}

.submit-container button:hover{
    cursor: pointer;
    color: green;
    font-weight: bold;
}


